:root {
    --brand-color-1: #FFC300;
    --brand-color-2: #FF8018;
    --gray-color-1: #000000;
    --gray-color-2: #CCCCCC;
    --gray-color-3: #F5F5F9;
    --gray-color-4: #FFFFFF;
    --state-color-1:#298B57;
    --state-color-2:#F0FDF4;
    --state-color-3:#E9771A;
    --start-color-4:#CCCCCC;
    --face-color-1:#3C82F6;
    --face-color-2:#E9B306;
    --face-color-3:#EF4444;
} 