.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0 20px;
    background-color: var(--gray-color-4);
}

.login-page .logo {
    margin-bottom: 1.5em;
}

.login-container {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    text-align: left;
    background-color: var(--gray-color-3);
    border-radius: 12px;
    padding: 1.5em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    overflow: hidden;
}

.login-form {
    margin-top: 1.5em;
}

.login-form label {
    display: block;
    margin-bottom: 0.5em;
    color: var(--gray-color-1);
}

.input-field {
    width: 90%;
    padding: 0.8em;
    margin-bottom: 1.5em;
    background-color: var(--gray-color-4);
    border: 1px solid var(--gray-color-2);
    border-radius: 8px;
    font-size: 16px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.6em 1em;
    margin: 1.5em 0;
    border-radius: 8px;
    text-decoration: none;
    font-size: 1.2em;
    color: var(--gray-color-4);
    width: 100%;
    max-width: 300px;
}

.gradient-button {
    background: linear-gradient(90deg, var(--brand-color-1), var(--brand-color-2));
}

p {
    margin: 0;
}
